@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);

}

nav{
    background-color: rgb(162, 164, 193);
    height: 80px;
    width: 100%;
}
img{
    margin-top: 20px;
    margin-left: 20px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    color: white;
    font-size: 18px;
    margin: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background-color: blue;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 4opx;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg) no-repeat;
    background-size: cover;
    background-position:center center;
    height: calc(100vh - 80px);
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2 rem;
}

.typing__effect{
    margin: 50px auto;
    width: max-content;
    border-right: 3px solid;
    font-variant-position: monospace;
    margin-top: left;
    animation: teclear 5s steps(16); 
}

@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
h2{

    text-align: center;
    margin-top:-250px;
}
    .pan{
        color: #111010;
        
    }
div{
    display: block;
}
.container .somos{
    display: block;
    font-size: 1.61rem;
    text-align: center;
}

.container .mi {
    width: 500px;
    padding: 35px;
    margin-left: 10px;
    margin-top: -200px; /* Ajusta este valor según tus necesidades */
    background: rgba(46, 138, 145, 0.33);
    box-shadow:  0 1rem 1rem rgba(0,0, 0, 0.3);
 }
.container .mi .text{
    font-size: 1.84rem;
    font-weight: 400;
    line-height: 2.46rem;
    color: #111010;

}
.text{
    text-align: center;
}
.container .vi {
    width: 500px;
    padding: 35px;
    margin-left: 650px;
    margin-top: -290px; /* Ajusta este valor según tus necesidades */
    background: rgba(46, 138, 145, 0.33);
    box-shadow:  0 1rem 1rem rgba(0,0, 0, 0.3);
 }
.container .vi .text{
    font-size: 1.84rem;
    font-weight: 400;
    line-height: 2.46rem;
}

.container2 {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color:crimson;
    margin-right: 10px;
    font-size:25px;
}



.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: crimson;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid crimson;
    animation: shake .2s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:crimson;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: crimson;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: rgb(172, 16, 47);
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}

